$theme-color: #3385ff;

//背景颜色$bg-color $bg-color-opacity
$bg-fff:#fff; 
$bg-999:#999;
$bg-E86968:#E86968;
$bg-378EC1:#378EC1;
$bg-4ABE9D:#4ABE9D;
$bg-F8A751:#F8A751;
$bg-000-1:rgba(0,0,0,0.1);
$bg-000-8:rgba(0,0,0,0.8);

//字体颜色$font-color
$font-999:#999;
$font-666:#666;
$font-ccc:#ccc;
$font-333:#333;
$font-fff:#fff;
$font-000:#000;
$font-4a4a4a:#4a4a4a;

//边框颜色$border-color
$border-efefef:#EFEFEF;

//字体大小$fSize-size
$fSize-20:20px;
$fSize-24:24px;
$fSize-26:26px;
$fSize-30:30px;
$fSize-34:34px;

//内边距$pd-size
$pd-30:30px;

//外边距$mr-size
$mg-30:30px; //组件外边距
